/* 
.container {
  height: 20vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
} */

/* .search {
  position: absolute;
    width: 31rem;
    height: auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1); */
    /* margin-left: 20px; */
    /* border-radius: 4rem; */
    /* border: 1px solid white;
    padding: 12px;
    padding-left: 25px;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
    z-index: 90;
} */
/* .search__input {
  border: none;
  outline: none;
  width: calc(100% - 0px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}
.search__button {
  width: 56px;
  height: 56px;
  background-color: var(--dark-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__icon, .search__close {
  color: var(--white-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

/* Search animated */
/* .show-search {
  width: 100%;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}

.container1{

  position: absolute;
  right: 100px;
  bottom: 75px;
  margin-top: 60px;
  max-width: 1200px;
  position: absolute;
  right: 100px;
  top: 40px;
} */ */


/*=============== BREAKPOINTS ===============*/
/* For medium devices */
/* @media screen and (min-width: 576px) {
  .show-search {
    width: 450px;
  }
} */



.search-bar {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  
}

.search-form {
  position: absolute;
  top: 104px;
  right: 108px;
  flex: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.search-input-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-input {
  flex: 1;
  height: 2.7rem;
  /* width: 25rem; */
  padding: 0px 14rem 0px 2rem;
  border: 1.5px solid #2d2f31;
  border-radius: 19999px;
  background-color: #f7f9fa;
  font-size: 1rem;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-icon {
  width: 0rem;
  height: 0rem;
  fill: #5624d0; /* Adjust color as needed */
} 
