.search-bar {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.search-form {
  position: absolute;
  top: 104px;
  right: 108px;
  flex: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.search-input-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-input {
  flex: 1;
  height: 2.7rem;
  /* width: 25rem; */
  padding: 0px 14rem 0px 2rem;
  border: 1.5px solid #2d2f31;
  border-radius: 19999px;
  background-color: #f7f9fa;
  font-size: 1rem;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-icon {
  width: 0rem;
  height: 0rem;
  fill: #5624d0; /* Adjust color as needed */
}
