.dropdown-menu {
  position: absolute;
  top: 86.5%;
  right: 30px;
  background-color: transparent;
  z-index: 1;
  width: max-content;
  padding-top: 19px;
  z-index: 999;
  font-family: monospace;
  background-image: linear-gradient(to bottom, transparent 39px, #ffffff 39px);
}

/* Rest of the CSS remains the same */
.dropdown-item {
  padding: 20px 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: block;
  color: #333333;
}

.grid-menu {
  /* margin-top: 20px; */
}

.name {
  font-weight: bold;
}

.id {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.1rem;
}
.phn,
.address,
.mail,
.password {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.1rem;
}

.uname,
.fname {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.text-white {
  color: #ffffff;
}

.btnuser {
  background-color: #e91e63;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

.btnuser:hover {
  background-color: #d81b60;
}
